.top-container {
    background-color: #FAF3F3;
    position: relative;
    padding-top: 100px;}

body {margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; color: #40514e;}

h1 {margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;}

.pro {text-decoration: underline; }

h2 {margin-top: 0; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem; color: #66BFBF;
    font-weight: normal;}

h3 {font-family: 'Montserrat', sans-serif;
    color: #11999E;}

.middle-container {
    }

.contact-me {width: 40%; margin: auto; margin-bottom: 100px;} 

.p-touch {margin: 50px auto 75px;}

.profile {width: 40%; margin: auto;}

.skill-row {width: 50%; margin: 100px auto; 
            text-align: start; line-height: 2;}

.profile-pic {height: 200px; width: 200px;
            padding-top: 50px; padding-bottom: 50px;
}

.cube-img {width: 25%; float: left; padding-right: 30px;}

.car-img {width: 25%; float: right; padding-left: 30px;}

.bottom-container {
    }

.top-cloud {position: absolute; top: 60px; right: 250px;}
.bottom-cloud {position: absolute; left: 250px; bottom: 300px;}

.btn {color: #11999E;}

.hr {border-style: dotted none none; width: 3%; border-width: 5px; margin: 75px auto; color: #EAF6F6;}

.btn {
    background: #8ac8f2;
    background-image: -webkit-linear-gradient(top, #8ac8f2, #546e7d);
    background-image: -moz-linear-gradient(top, #8ac8f2, #546e7d);
    background-image: -ms-linear-gradient(top, #8ac8f2, #546e7d);
    background-image: -o-linear-gradient(top, #8ac8f2, #546e7d);
    background-image: linear-gradient(to bottom, #8ac8f2, #546e7d);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #4bb2f2;
    background-image: -webkit-linear-gradient(top, #4bb2f2, #3498db);
    background-image: -moz-linear-gradient(top, #4bb2f2, #3498db);
    background-image: -ms-linear-gradient(top, #4bb2f2, #3498db);
    background-image: -o-linear-gradient(top, #4bb2f2, #3498db);
    background-image: linear-gradient(to bottom, #4bb2f2, #3498db);
    text-decoration: none;
  }

a {color: #11999E; padding: 30px; font-family: 'Montserrat', sans-serif; text-decoration: none;}

a:hover {color: #EAF6F6;}

.bottom-container {background-color: #66BFBF; color: #EAF6F6; padding: 50px;}

.copy-right {padding: 20px 0 0; font-size: 0.75em;}